body {
  background-color: lightgray;
}
.navbar {
  background-color: rgb(36, 131, 19) !important;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}
.container {
  margin-top: 100px;
  width: 900px;
}
.table-responsive {
  margin-top: 20px;
}
