body {
  background-color: lightgray;
}
.navbar {
  background-color: rgb(36, 131, 19) !important;
}
.navbar-nav .nav-item {
  margin-right: 10px;
}
.container {
  margin-top: 100px;
  width: 500px;
}
.create-account-button {
  background-color: #4CAF50; 
  border: none;
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px; 
  margin-top: 10px;
}
.creates-account-button {
  background-color: grey; 
  border: none;
  color: white; 
  padding: 12px 24px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 10px; 
  margin-top: 10px;
}



